# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# vi
*.swp

# cmake
CMakeCache.txt
CMakeFiles/
CMakeTmp/
CTestTestfile.cmake
cmake_install.cmake
cmake_uninstall.cmake

# trackmanager
trackmanager
trackmanager.shell
trackmanager_automoc.cpp
trackmanager_automoc.cpp.files

